@font-face {
  font-family: "NeueHaasDisplay-Mediu";
  src: url("font/64d3dd9edfb41666c35b15bf_NeueHaasDisplay-Mediu\ \(2\).ttf");
}
@font-face {
  font-family: "NeueHaasDisplay-Light";
  src: url("font/NeueHaasDisplayLight.ttf");
  font-weight: 100;
}

:root {
  --background-color: #efeae3;
  --accent-color: #fe330a;
  --sec3-hover: #FF9831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NeueHaasDisplay-Mediu";
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#main {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* padding: 2vh 3vh; */
}

/* -----Navigation Bar----- */

.section-1{
  background-color: var(--background-color);
}

#navbar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 3vw;
  z-index: 999999;
  /* background-color: red; */
}

.logo {
  flex-basis: 60%;
  transition: all 0.3s;
}

.menu-btn{
  padding: 3.3vw 8vw;
  font-size: 1.2rem;
  /* width: 80px; */
  background-color: transparent;
  outline: none;
  border: 1px solid #00000063;
  border-radius: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: none;
  z-index: 98;
  position: relative;
}

.ham-menu{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.322);
  z-index: 98;
  transition: all ease 0.5s;
  top: -100%;
}

.menu-container{
  background-color: var(--background-color);
  width: 100%;
  height: 50%;
  z-index: 99;
  border-bottom-left-radius: 10vw;
  border-bottom-right-radius: 10vw;
}

.cont h1{
  font-size: 4rem;
  line-height: 15vw;
}
.cont{
  height: 100%;
  padding: 8vw 5vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.nav-buttons {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.nav-btn {
  position: relative;
  font-size: 1rem;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid #00000057;
  border-radius: 1.875rem;
  overflow: hidden;
  cursor: pointer;
  font-weight: 100;
}

.nav-btn a {
  text-decoration: none;
  color: #000;
  z-index: 999;
  position: relative;
  transition: all ease 0.4s;
}

.nav-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.nav-btn:hover:after {
  bottom: 0;
  border-radius: 0;
  color: #fff;
}

.nav-btn:hover a {
  color: #fff;
}

#hero {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #00000057;
  padding: 0 3vw;
  padding-bottom: 50px;
}

.left {
  
  width: 30%;
  height: 100%;
  display: flex;
  align-items: end;
}

.left h2 {
  font-size: 1.7rem;
  line-height: 1.8vw;
  letter-spacing: -1px;
  padding-right: 20px;
}

.right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.right h1 {
  font-size: 10rem;
  line-height: 9vw;
  display: flex;
  align-items: end;
  justify-content: end;
  text-transform: uppercase;
  letter-spacing: -0.5vw;
  text-align: end;
  margin-right: 20px;
}

video {
  position: relative;
  border-radius: 30px;
  margin: 4vw 1vw ;
  width: 100%;
  z-index: 9;
}

.hero-animation-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 18px;
  top: 70vh;
  filter: blur(30px);
  z-index: 8;
}

.shape-1 {
  position: absolute;
  width: 66vw;
  height: 40vw;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: blur(20px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  /* transform:rotateY('30deg'); */
}
.shape-2 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: blur(20px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  animation: anime-1 ease infinite 3s alternate;
}
.shape-3 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: blur(20px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  animation: anime-2 linear infinite 3s alternate;
}

@keyframes anime-1 {
  from {
    transform: translate(25%, -5%);
  }
  to {
    transform: translate(0%, -15%);
  }
}

@keyframes anime-2 {
  from {
    transform: translate(0, 5%);
  }
  to {
    transform: translate(-20%, 20%);
  }
}

/* ---------------SECTION-2----------------- */

.section-2{
  background-color: var(--background-color);
}

.moving-texts{
    width: 100%;
    height: 10rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.moving-texts::-webkit-scrollbar{
    display: none;
}

.moving-text-container{
    
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    animation: 15s move linear infinite ;    
}

.moving-text-container h1{
    font-size: 10rem;
    display: inline-block;
}

.moving-text-container .circle{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: var(--accent-color);
    border-radius: 50%;
    margin: 1rem ;
    padding: 40px;

}

@keyframes move {
  from{
    transform: translateX(0);
  }
  to{
    
    transform: translateX(-100%);
  }
}

.content-pg2{
  width: 100%;
  height: 80vh;
  /* padding: 10px; */
  /* background-color: var(--accent-color); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vw;
  padding: 0 10px;
  position: relative;
  
}

.left-pg2{
  width: 100%;
  height: 100%;
  flex-basis: 65%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  font-size: 2.75rem;
  line-height: 4rem;
  position: relative;
  z-index: 997;
}


.right-pg2{
  width: 100%;
  height: 100%;
  flex-basis: 35%;
  
  /* background-color: #fe330a;   */
}

.right-container-pg2{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 95px
}

.right-container-pg2 p{
  font-weight: 550;
  line-height: 1.2rem;
  font-family: "NeueHaasDisplay-Light";
  
}

.right-container-pg2 img{
  height: 200px;
  margin-top: 14rem;
  margin-bottom: 40px;
  border-radius: 0.5rem;
  
}
.pg2-animation {
  position: absolute;
  width: 46vw;
  height: 36vw;
  left: 20vw;
  bottom: -15vh;
  filter: blur(30px);
  z-index: 8;
}

.pg2-shape {
  position: absolute;
  width: 40vw;
  height: 40vw;
  background: linear-gradient(60deg, var(--accent-color), rgb(255, 136, 0));
  border-radius: 50%;
  filter: blur(10px);
  animation: page2anime ease-in-out infinite 4s alternate;
 
}
@keyframes page2anime {
  from {
    transform: translate(10%, -10%) skew(0);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%,10%) skew(-10deg);
  }
}

/* ----------------------------Section-3---------------------- */
.section-3{
  padding: 0;
  background-color: var(--background-color);
}

.featured-projects_section{
  width: 100%;
  min-height: 100vh;
}

.featured-heading{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 80px;
  padding: 0 2vw;
}

.featured-heading p{
  font-family: 'NeueHaasDisplay-Light';
  font-weight: 100;
  letter-spacing: 1px;
}

.bullet-point{
  width: 10px;
  height: 10px;
  padding: 2px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.featured-projects{
  width: 100%; 
  position: relative;
}

.project{
  width: 100%;
  height: 15vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  overflow: hidden;
  transition: 0.3s linear ;
}

.project h1{
  font-size: 3rem;
  z-index: 12;
}

.project-for{
  text-align: end;
  z-index: 12;
}

.project-for p:nth-child(1){
  font-weight: 200;
  font-size: 0.9rem;
}
.project-for p:nth-child(2){
  font-family: 'NeueHaasDisplay-Light' ;
  font-size: 0.9rem;
}

 .project .overlay{
  width: 100%;
  height: 15vh;
  background-color: #FF9831;
  position: absolute;
  top: -15vh;
  left: 0;
  transition: 0.2s;
 }

.project:hover .overlay{
  top: 0;
}

.all-project-btn{
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 5rem;
  margin-left: 2vw;
  outline: none;
  border:  1px solid #00000095;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.all-project-btn h3{
  margin-right: 10px;
  font-weight: 100;
  
}
.all-project-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.all-project-btn:hover:after {
  bottom: 0;
  border-radius: 0;
  color: #fff;
  opacity: 100%;
}

.all-project-btn:hover h3{
  color: #fff;
  z-index: 9;

}

.all-project-btn:hover i{
  color: #fff;
  z-index: 9;
}

#fixed-images{
  width: 23vw;
  height: 30vw;
  border-radius: 10px;
  position: fixed;
  z-index: 9999;
  right: 390px;
  top: 190px;
  display: none;
  background-size: cover;
}

.section-4{
  width: 100%;
  height: 60vh;
  background-color: var(--background-color);
  padding:  14vw 2vw;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
 
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  color: #000000b5;
  border-left: 1px solid #000;
}

.swiper-img{
  display: flex;
  align-items: center;
  
}
.swiper-slide img {
  height: 60px;
}
.swiper-slide {
  width: 30%;
  height: 300px;
  text-align: justify;
}

.footer{
  position: fixed;
  width: 100%;
  height: 60vw;
  bottom: 0;
  background-color: #000;
  z-index: 9;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding-top:200px ;

}

.footer-info{
  width: 100%;
  height: 30vh;
/* background-color: red; */
display: flex;
margin-bottom: 5vw;
}

.footer-left{
  /* width: 50%; */
  height: 100%;   
  flex-basis: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 7rem;
}

.footer-left h2{
  font-size: 2rem;
  color: #fff;
}

.footer-right{
  /* width: 50%; */
  height: 100%;  
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
}

.right-info{
  margin-left: 6rem;
}

.footer-right h4{
  color: #fff;
  font-size: 1.2rem;
  
}

.input-box{
  margin-top:20px;
  border-bottom: 1px solid #ffffff83;
  padding-bottom: 10px;
}

.input-box i{
  color: #fff;
}

input{
  background-color: transparent;
  outline: none;
  border: none;
  width: 17rem;
  
}

input::placeholder{
  color: #ffffffa9;
}

.footer h1{
  font-size: 23vw;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #ffffff30;
  line-height: 17rem;
  /* margin-top: 10vw; */
}

.social-links{
  margin-top: 0.8rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 18rem;
}

.social-links h5{
  font-size: 1rem;
  color: #fff;
}

.social-links i{
  margin-right: 3px;
}

@media (max-width:600px) {  

  #navbar {
    padding: 8vw 5vw;
  }

  .logo {
    /* padding: 10px; */
    flex-basis: 60%;
  }

  .logo img{
    height: 15vw;
  }

  .menu-btn{
    display: block;
  }

  .nav-buttons {
    display: none;
  }

#hero{
  height: 65vh;
  flex-direction: column-reverse;
  padding-top:10vw;
}
  
  .left {
    width: 100%;
    padding: 5vw;
    align-items: center;
    
    margin-top: 10vw;
  }
  
  .left h2 {
    font-size: 1.4rem;
    line-height:6vw;
    letter-spacing: -1px;
    padding-right: 20px;
    z-index: 10;
  }
  
  .right {
    align-items: center;
    margin-bottom: 10vw;
  }
  
  .right h1 {
    font-size: 4rem;
    line-height: 15vw;
  }
  
  video {
    width: 98%;
    border-radius: 20px;
  }
  
  .hero-animation-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 18px;
    top: 70vh;
    filter: blur(30px);
    z-index: 8;
  }
  
  .shape-1 {
    position: absolute;
    width: 66vw;
    height: 40vw;
    background-color: var(--accent-color);
    border-radius: 50%;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    /* transform:rotateY('30deg'); */
  }
  .shape-2 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: var(--accent-color);
    border-radius: 50%;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    animation: anime-1 ease infinite 3s alternate;
  }
  .shape-3 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: var(--accent-color);
    border-radius: 50%;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    animation: anime-2 linear infinite 3s alternate;
  }
  
  
}





