@font-face {
    font-family: 'NeueHaasDisplay-Mediu';
    src: url('font/64d3dd9edfb41666c35b15bf_NeueHaasDisplay-Mediu\ \(2\).ttf');
}

:root{
    --background-color:#EFEAE3;
    --accent-color:#FE330A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'NeueHaasDisplay-Mediu';
    
}

body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}

.section-1{
    width: 100%;
    min-height: 100vh;
    padding: 2vh 3vh;
    background-color: var(--background-color);
}

/* -----Navigation Bar----- */

#navbar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.logo{
    padding: 10px;
    flex-basis: 60%;
}

.nav-buttons{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}
  
.nav-btn{
    position: relative;
    font-size: 1rem;
    padding: 12px 24px;
    background-color: transparent;
    border: 1px solid #00000057;
    border-radius:1.875rem;
    overflow: hidden;
    cursor: pointer;
    font-weight: 100;
}

.nav-btn a{
    text-decoration: none;
    color: #000;
    z-index: 999;
    position:relative;
    transition: all ease 0.4s;
}

.nav-btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    bottom:-100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.nav-btn:hover:after{
    bottom: 0;
    border-radius: 0;
    color: #fff;
}

.nav-btn:hover a {
    color: #fff;
}

#hero{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #00000057;
    padding-bottom: 50px;
}

.left{ 
    flex-basis: 28%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.left h2{
    font-size: 1.7rem;
    line-height: 1.8vw;
    letter-spacing: -1px;
    padding-right: 20px;
}

.right{
    flex-basis: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.right h1{
    font-size: 10rem;
    line-height: 9vw;
    display: flex;
    align-items: end;
    justify-content: end;
    text-transform: uppercase;
    letter-spacing: -0.5vw;
    text-align: end;
    margin-right: 20px;
}

.video-container{
    margin-top: 50px;
    width: 100%;
    height: 80vh;
}

.video-container video{
    width: 100%;
    border-radius: 20px;
}

.hero-animation-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: -30px;
    top: 70vh;
    filter: blur(20px);
}

.shape-1{
    width: 66vw;
    height: 36vw;
    background-color: var(--accent-color);
    border-radius: 50%;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.shape-2{
    width: 30vw;
    height: 30vw;
    background-color: var(--accent-color);
    border-radius: 50%;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.shape-3{
    width: 30vw;
    height: 30vw;
    background-color: var(--accent-color);
    border-radius: 50%;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}